/* Nest Nav */
@mixin navStyle{
    nav{
        margin-top: 20px;
        background-color: rgb(218, 170, 14);
    }
        li{
            list-style: none;
            display: inline-block;
            color: rgb(255, 255, 255);
            
        }

        li a{
            color:rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
        }

    
    
}