@import 'colors.scss';
@import 'nav.scss';



/* Variables */
$bgbtnColor:rgb(218, 170, 14);
$introbg:rgb(212, 213, 216);
$introText:'Sacramento', cursive;
$white:rgb(255, 255, 255);
/* Nest Main */

body{
    background-color: $bgbtnColor;
}

main {
    width: 1350px;
    min-height:535px; 
    background-color:$white ;

    #intro-text{
        background-color: $introbg;
        display: inline-block;
        text-align: center;
        margin:10px;
        span{
            font-family:$introText;
            
        }
    }

    #intro-image{
        position:absolute;        
        
        width: 10px;
        display: inline-block;
    }

    img{
        // float: right;
        // width: 80%;
    }
}

nav{
    @include navStyle;
}




// Mixin or Extend for button
button{
    @include btn;
}